@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aula MVC</h1>
    <p>Modificar a Página atual <a href="https://youtu.be/rb0bjyt1OD0?t=7" target="_blank">???</a>.</p>
    
</div>
