@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aula MVC</h1>
    <p>Modificar a Página atual <a href="https://youtu.be/rb0bjyt1OD0?t=7" target="_blank">???</a>.</p>

    <iframe width="250" height="250" src="https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif" frameborder="0"  allowfullscreen></iframe>
    
</div>
