@{
    ViewData["Title"] = "Youtube Pirata";
}

<div class="text-center">
<h1>@ViewData["Title"]</h1>

<p>Rick Astley - Never Gonna Give You Up (Official Music Video)</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
