html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #fff;
  background-image: linear-gradient(to bottom right, purple, gray);
}

.container{
  background-color: rgb(20, 173, 233);
  
}

.video{
  align-items: center;
}
